<script>
  import ContentWrapper from '../commons/ContentWrapper.svelte';
  import List from './list.svelte';
  import Create from './create/index.svelte';
  import Update from './update-schedule.svelte'
  import Members from './members.svelte'
  // import MembersAdd from './members-add.svelte';
  import ErrorClashes from './error-clashes.svelte'
  import Logo from 'siskom/icons/work.svg';

  const prefix = '/admin/data/kelas';
  const routes = {
    '/': List,
    '/create': Create,
    '/create/*': Create,
    '/:id/update': Update,
    '/:id/members': Members,
    // '/:id/members/add': MembersAdd,
    '/error-clashes': ErrorClashes
  }
</script>

<ContentWrapper
  image={Logo}
  label="Kelas"
  prefix={prefix}
  routes={routes}
>
</ContentWrapper>
