<script>
  import { getClient } from 'svelte-apollo'
  import { gql } from 'apollo-boost'
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte'
  import JoDialog from 'siskom/components/commons/JoDialog.svelte'
  import JoAutoComplete from 'siskom/components/commons/JoAutoComplete.svelte'
  import JoButton from 'siskom/components/commons/JoButton.svelte'
  import ByKeywordGQL from './mahasiswa-by-keyword-for-kelas.gql';
  import CurrentMemberIds from './kelas-members-ids.gql';

  export let show = true;
  export let params = {};
  $: idKelas = params.id ? parseInt(params.id) : null;

  let networkStatus = 'loading';
  let errorMessage = '';
  let currentMemberIds = []
  let keyword = []
  let items = []
  let idMahasiswa = null;

  const client = getClient()

  async function loadData () {
    networkStatus = 'loading';
    if (!idKelas) {
      networkStatus = 'error';
      return;
    }
    try {
      const currentMemberIdsResult = await client.query({
        query: CurrentMemberIds,
        variables: {
          idKelas
        }
      })
      currentMemberIds = currentMemberIdsResult.data.all.nodes.map(it => it.mahasiswa.id)
      networkStatus = 'success'
    } catch (err) {
      console.log(err)
      networkStatus = 'error'
    }
  }

  async function onSearch({ keyword }) {
    const upper = keyword.toUpperCase()
    try {
      const result = await client.query({
        query: ByKeywordGQL,
        variables: {
          keyword: upper,
          currentMemberIds
        }
      })
    } catch (err) {
      console.log(err);
    }
  }
</script>

<JoDialog
  show={show}
  title="Tambah Mahasiswa"
>
  <div>
    <JoAutoComplete
      placeholder="Cari Mahasiswa..."
      onSearch={async key => {
        keyword = key;
      }}
      items={items}
      bind:value={idMahasiswa}
      let:item={item}
      let:selected={selected}
    >
      <div slot="selected">
        {selected.nama} - {selected.nim}
      </div>
      <div slot="item">
        <div class="text-sm font-medium">{item.nama}</div>
        <div class="text-xs">{item.nim}</div>
      </div>
    </JoAutoComplete>
    <JoButton label="Simpan" dark={true} color="blue" cls="mt-2" />
  </div>
</JoDialog>
