<script>
  import { onMount, createEventDispatcher } from 'svelte';
  import client from 'siskom/apollo-client.js';
  import ChangeGradeGQL from 'siskom/graphql/change-grade.gql';
  import cache__updateGrade from 'siskom/services/cache-update/grade.js';
  import JoDialog from 'siskom/components/commons/JoDialog.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte'
  import JoNumber from 'siskom/components/commons/JoNumber.svelte'
  import notification from 'siskom/stores/notification.js';

  const dispatch = createEventDispatcher();

  export let currentGrade;
  export let idKelas;
  export let idMahasiswa;
  export let show = false;
  let grade = currentGrade;

  $: {
    grade = show ? currentGrade : 0;
  };

  async function save () {
    try {
      const result = await client.mutate({
        mutation: ChangeGradeGQL,
        variables: {
          idKelas,
          idMahasiswa,
          grade
        }
      })
      cache__updateGrade({ client, grade, idKelas, idMhs: idMahasiswa })
      dispatch('done');
    } catch (err) {
      console.log(err);
      notification.show({
        message: 'gagal mengubah nilai',
        type: 'error'
      })
    }
  }
</script>

<JoDialog
  bind:show={show}
  title="Ubah Nilai Mahasiswa"
>
  <div>
    <JoNumber step={0.01} bind:value={grade} placeholder="Nilai mahasiswa" />
    <JoButton action={save} label="simpan" dark color="blue" cls="mt-2" />
  </div>
</JoDialog>