<script>
  import Router from 'svelte-spa-router';
  import List from './list.svelte';
  import ChangePassword from './change-password.svelte';

  const prefix = '/admin/users';
  const routes = {
    '/': List,
    '/:id/change-password': ChangePassword
  }
</script>

<div class="mx-4 my-4">
  <Router {prefix} {routes} />
</div>
