<script>
  import { onMount } from 'svelte';
  import { gql } from '@apollo/client/core';
  import MdCreate from 'svelte-icons/md/MdCreate.svelte'
  import MdDelete from 'svelte-icons/md/MdDelete.svelte'
  import client from 'siskom/apollo-client.js';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import JoLink from 'siskom/components/commons/JoLink.svelte';
  import 'siskom/styles/jo-table.css';

  let optionsTipeUser = [
    { value: 'MAHASISWA', label: 'mahasiswa' },
    { value: 'DOSEN', label: 'dosen' },
    { value: 'ADMIN', label: 'admin' }
  ];
  let keyword = '';
  let tipeUser = null;
  let items = [];
  let networkStatus = 'loading';

  const first = 10;

  const AllAppUsersGQL = gql`
    query AllAppUsers(
      $first: Int!
      $keyword: String!
      $tipeUser: UserType
    ) {
      allAppUsers(
        first: $first
        filter: { 
          username: { 
            likeInsensitive: $keyword 
          },
          tipeUser: {
            equalTo: $tipeUser
          }
        }
      ) {
        nodes {
          id
          tipeUser
          username
          targetId
          nodeId
        }
      }
    }
  `;

  const DeleteAppUserByIdGQL = gql`
    mutation DeleteAppUserById($id: Int!) {
      deleteAppUserById(input: {
        id: $id
      }) {
        appUser {
          id
        }
      }
    }
  `;

  function loadAllAppUsers ({ keyword, tipeUser }) {
    networkStatus = 'loading';
    client.query({
      query: AllAppUsersGQL,
      variables: {
        keyword: keyword.trim() + '%',
        first: 10,
        tipeUser
      }
    })
      .then(result => {
        items = result.data.allAppUsers.nodes;
        networkStatus = 'success';
      })
      .catch(err => {
        networkStatus = 'error';
        console.log(err);
      })
  }

  function reload () {
    loadAllAppUsers({ keyword, tipeUser });
  }

  function delete_app_user (id) {
    networkStatus = 'loading';
    client.mutate({
      mutation: DeleteAppUserByIdGQL,
      variables: {
        id
      }
    })
      .then(result => {
        networkStatus = 'success';
        reload();
      })
      .catch(err => {
        console.log(err);
        networkStatus = 'error';
      })
  }

  $: loadAllAppUsers({ keyword, tipeUser });

  onMount(reload);
</script>

<div class="flex items-center">
  <div class="font-bold text-lg">Daftar User</div>
  <div class="flex-grow"></div>
  <JoInput bind:value={keyword} placeholder='keyword...' cls="mx-2" />
  <JoSelect emptyLabel="pilih tipe user" bind:value={tipeUser} options={optionsTipeUser} />
</div>

<JoAsyncContent {networkStatus}>
  <table slot="success" class="jo-table my-6">
    <thead>
      <tr>
        <th>username</th>
        <th>tipe user</th>
        <th>target id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {#each items as item (item.nodeId)}
        <tr>
          <td>{item.username}</td>
          <td>{item.tipeUser}</td>
          <td>{item.targetId}</td>
          <td class="flex items-center justify-end">
            <JoLink 
              label="ganti password"
              to={`/#/admin/users/${item.id}/change-password`} 
              cls="mr-2"
            />
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</JoAsyncContent>
