<script>
  import { getClient, restore } from 'svelte-apollo';
  import { pop as popRoute } from 'svelte-spa-router';
  import Create from './create.gql';
  import List from './list.gql';
  import isEmpty from 'validator/es/lib/isEmpty';
  import allIsNull from 'siskom/commons/allIsNull';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoNumber from 'siskom/components/commons/JoNumber.svelte';
  import JoSpinner from 'siskom/components/commons/JoSpinner.svelte';
  import JoErrorPane from 'siskom/components/commons/JoErrorPane.svelte';

  const client = getClient();

  let nama = '';
  let kapasitas = 40;
  let networkStatus = 'idle';

  $: errors = {
    nama: isEmpty(nama) ? 'nama tidak boleh kosong' : null,
    kapasitas: kapasitas < 1 ? 'kapasitas harus lebih dari 0' : null
  };

  $: invalid = !allIsNull(errors);

  async function onSave () {
    networkStatus = 'loading';
    const payload = { nama, kapasitas };
    try {
      const result = await client.mutate({
        mutation: Create,
        variables: {
          payload
        }
      });
      networkStatus = 'success';
      popRoute(); // Go back
    } catch (err) {
      console.log(err);
      networkStatus = 'error';
    }
  }
</script>

<div class="h-12 text-xl font-bold flex justify-center items-center text-sm border-b border-gray-300">
  Input Data Ruangan
</div>
<div class="mx-auto my-12 px-4 w-1/3 py-6 border border-gray-400">
  {#if networkStatus == 'idle'}
  <form>
    <div class="mb-6 flex flex-col">
      <label class="text-sm">Nama</label>
      <JoInput bind:value={nama} />
      {#if errors.nama}
        <p class="text-red-700 text-xs">{errors.nama}</p>
      {/if}
    </div>

    <div class="mb-6 flex flex-col">
      <label class="text-sm">Kapasitas</label>
      <JoNumber bind:value={kapasitas} min={0} />
      {#if errors.kapasitas}
        <p class="text-red-700 text-xs">{errors.kapasitas}</p>
      {/if}
    </div>

    <div>
      <JoButton
        action={onSave}
        disabled={invalid}
        dark={true}
        color="blue"
      >
        simpan
      </JoButton>
    </div>
  </form>
  {:else if networkStatus == 'loading'}
  <JoSpinner />
  {:else if networkStatus == 'error'}
  <JoErrorPane message="gagal menambah data" />
  {:else if networkStatus == 'success'}
  <div>Sukses</div>
  {/if}
</div>
