<script type="text/javascript">
  import ContentWrapper from '../commons/ContentWrapper.svelte';
  import List from './list.svelte';
  import Create from './create.svelte';
  import Logo from 'siskom/icons/room.svg';

  const routes = {
    '/': List,
    '/create': Create
  };
  const prefix = '/admin/room';
</script>


<ContentWrapper
  image={Logo}
  label="Ruangan"
  prefix={prefix}
  routes={routes}
>
</ContentWrapper>
