<script>
  import { onMount, getContext } from 'svelte';
  import { getClient, query } from 'svelte-apollo';
  import List from './list.gql';
  import Delete from './delete.gql';
  import JoSpinner from 'siskom/components/commons/JoSpinner.svelte';
  import JoErrorPane from 'siskom/components/commons/JoErrorPane.svelte';
  import warning from 'siskom/stores/warning'
  import notification from 'siskom/stores/notification'
  import MdDelete from 'svelte-icons/md/MdDelete.svelte'
  import JoLink from 'siskom/components/commons/JoLink.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import 'siskom/styles/jo-table.css';

  const client = getClient()

  $: rooms = query(client, {
    query: List
  });

  async function on_delete_commit (nama) {
    try {
      await client.mutate({
        mutation: Delete,
        variables: {
          nama
        }
      })
      notification.show({ 
        type: 'info', 
        message: 'sukses menghapus data' 
      })
    } catch (err) {
      notification.show({ 
        type: 'danger', 
        message: 'gagal menghapus data' 
      })
    }
  }

  function on_delete (nama) {
    warning.show({
      message: 'anda akan menghapus data ruangan',
      on_next: async () => {
        await on_delete_commit(nama)
        rooms.refetch()
      }
    })
  }
</script>

{#await $rooms}
  <JoSpinner />
{:then result}
  <div class="text-sm text-gray-800 py-4">
    <JoLink
      to="/#/admin/room/create"
      label="tambah"
    />
  </div>
  <table class="jo-table">
    <thead>
      <tr>
        <th class="py-2 px-2">Nama</th>
        <th class="py-2 px-2">Kapasitas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {#each result.data.allRooms.nodes as room (room.nama)}
        <tr>
          <td>{room.nama}</td>
          <td>{room.kapasitas}</td>
          <td class="text-right">
            <JoButton
              action={() => on_delete(room.nama)}
            >
              <div class="h-4 w-4 text-red-700">
                <MdDelete />
              </div>
            </JoButton>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
{:catch error}
  <JoErrorPane message={"terjadi kesalahan saat mengambil data"} />
{/await}
