<script type="text/javascript">
  import { onMount } from 'svelte';
  import client from 'siskom/apollo-client.js';
  import { push as pushRoute, pop as popRoute } from 'svelte-spa-router';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import CreateMahasiswaGQL from './create-mahasiswa.gql';
  import AllYearsGQL from './all-years.gql';
  import notification from 'siskom/stores/notification.js';

  let tahunAjaranOptions = [];
  let _sex = 'PEREMPUAN';
  let _nama = '';
  let _nim = '';
  let _thMasuk = 2007;
  let networkStatus = 'ready';

  function save () {
    networkStatus = 'loading';
    const payload = {
      _sex,
      _nama,
      _nim,
      _thMasuk
    };
    const variables = { payload };
    const mutationResult = client.mutate({
      mutation: CreateMahasiswaGQL,
      variables,
      fetchPolicy: 'network-only'
    });
    return mutationResult
      .then(result => {
        networkStatus = 'success';
        notification.show({
          type: 'info',
          message: 'sukses menambah mahasiswa'
        })
        pushRoute('/admin/mahasiswa');
      })
      .catch(err => {
        console.log(err);
        notification.show({
          type: 'error',
          message: 'gagal menambah mahasiswa'
        });
        networkStatus = 'error';
      });
  }

  function loadAllYears () {
    const queryResult = client.query({
      query: AllYearsGQL
    });
    return queryResult
      .then(result => {
        tahunAjaranOptions = result.data.allYears.nodes.map(year => ({
          value: year,
          label: `Tahun Ajaran ${year}/${year+1}`
        }));
      })
      .catch(err => {
        console.log(err);
        notification.show({
          type: 'error',
          message: 'gagal memuat data periode'
        });
        popRoute();
      });
  }

  onMount(loadAllYears);
</script>

<div>
  <div class="h-12 text-xl font-bold flex justify-center items-center text-sm border-b border-gray-300">
    Input Data Mahasiswa
  </div>
  <div class="mx-auto my-12 px-4 w-1/3 py-6 border border-gray-400">
    <form>
      <div class="mb-6 flex flex-col">
        <label class="text-sm">Nama</label>
        <JoInput bind:value={_nama} placeholder="nama mahasiswa..." />
      </div>
      <div class="mb-6 flex flex-col">
        <label class="text-sm">NIM</label>
        <JoInput bind:value={_nim} placeholder="NIM..." />
      </div>
      <div class="mb-6 flex flex-col text-sm">
        <label class="mb-1 text-sm">Jenis Kelamin</label>
        <div class="flex items-center text-gray-800 mb-1">
          <input 
            bind:group={_sex}
            type="radio"
            value="LAKI_LAKI"
            class="jo-radio appearance-none rounded-full border-2 border-gray-600 p-2 mr-2"
          />
          <label>Laki - Laki</label>
        </div>
        <div class="flex items-center text-gray-800">
          <input 
            bind:group={_sex}
            type="radio"
            value="PEREMPUAN"
            class="jo-radio appearance-none rounded-full border-2 border-gray-600 p-2 mr-2" 
          />
          <label>Perempuan</label>
        </div>
      </div>
      <div class="mb-6 flex flex-col">
        <label class="text-sm">Tahun Masuk</label>
        <JoSelect bind:value={_thMasuk} options={tahunAjaranOptions} />
      </div>
      <div>
        <JoButton dark={true} color='blue' action={save}>
          simpan
        </JoButton>
      </div>
    </form>
  </div>
</div>
