<script>
  import ContentWrapper from '../commons/ContentWrapper.svelte';
  import ListMahasiswa from './list.svelte';
  import UpdateMahasiswa from './update.svelte';
  import CreateMahasiswa from './create.svelte';
  import StudentSVG from 'siskom/icons/student.svg';

  const prefix = '/admin/data/mahasiswa';
  const routes = {
    '/': ListMahasiswa,
    '/create': CreateMahasiswa,
    '/:id/update': UpdateMahasiswa,
  }
</script>

<ContentWrapper
  image={StudentSVG}
  label="Mahasiswa"
  prefix={prefix}
  routes={routes}
>
</ContentWrapper>
