<script type="text/javascript">
  import { onMount } from 'svelte';
  import { push as pushRoute, pop as popRoute } from 'svelte-spa-router';
  import isEmpty from 'validator/es/lib/isEmpty';
  import trim from 'validator/es/lib/trim';
  import client from 'siskom/apollo-client.js';
  import allIsNull from 'siskom/commons/allIsNull';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import UpdateDataGQL from './update-data.gql';
  import UpdateGQL from './update.gql';

  export let params = {};

  let tahunMasukOptions = [];
  let dosenPaOptions = [];
  let sex = 'LAKI_LAKI';
  let nama = '';
  let nim = '';
  let tahunMasuk = 2007;
  let idPa = null;
  let networkStatus = 'loading';

  function onSave () {
    const payload = {
      sex,
      nama,
      nim,
      tahunMasuk,
      idPa
    };
    const variables = {
      payload,
      id
    };
    const mutateResult = client.mutate({
      mutation: UpdateGQL,
      variables
    });
    networkStatus = 'loading';
    return mutateResult
      .then(result => {
        networkStatus = 'success';
        popRoute();
      })
      .catch(err => {
        console.log(err);
        networkStatus = 'error';
      });
  }

  function onSuccessLoadRequireData (result) {
    if (!result.data.mahasiswaById) {
      return;
    }
    const item = result.data.mahasiswaById;
    sex = item.sex;
    nama = item.nama;
    nim = item.nim;
    tahunMasuk = item.tahunMasuk;
    idPa = item.dosenByIdPa.id;
    tahunMasukOptions = result.data.allYears.nodes.map(year => ({
      value: year,
      label: `Tahun Ajaran ${year}/${year+1}`
    }));
    dosenPaOptions = result.data.allDosens.nodes.map(dosen => ({
      value: dosen.id,
      label: `${dosen.nama} - ${dosen.nip}`
    }));
    networkStatus = 'ready';
  }

  function loadRequireData () {
    const queryResult = client.query({
      query: UpdateDataGQL,
      variables: {
        id
      }
    });
    return queryResult
      .then(onSuccessLoadRequireData)
      .catch(err => {
        networkStatus = 'error';
      });
  }

  onMount(loadRequireData);

  $: errors = {
    nama: isEmpty(nama) ? 'nama tidak boleh kosong' : null,
    nim: isEmpty(nim) ? 'nim tidak boleh kosong' : null,
    tahunMasuk: !tahunMasuk ? 'tahun masuk tidak boleh kosong' : null,
    idPa: !idPa ? 'dosen pa tidak boleh kosong' : null,
    sex: isEmpty(sex) ? 'sex tidak boleh kosong' : null
  };
  $: invalid = !allIsNull(errors);
  $: id = params.id ? parseInt(params.id) : null;
</script>

<div>
  <div class="h-12 text-xl font-bold flex justify-center items-center text-sm border-b border-gray-300">
    Update Data Mahasiswa
  </div>
  <div class="mx-auto my-12 px-4 w-1/3 py-6 border border-gray-400">
    <form>
      <div class="mb-6 flex flex-col">
        <label class="text-sm">Nama</label>
        <JoInput bind:value={nama} placeholder="nama mahasiswa..." />
        {#if errors.nama}
        <p class="text-red-700 font-semibold text-xs">
          {errors.nama}
        </p>
        {/if}
      </div>
      <div class="mb-6 flex flex-col">
        <label class="text-sm">NIM</label>
        <JoInput bind:value={nim} placeholder="NIM..." />
        {#if errors.nim}
        <p class="text-red-700 font-semibold text-xs">
          {errors.nim}
        </p>
        {/if}
      </div>
      <div class="mb-6 flex flex-col text-sm">
        <label class="mb-1 text-sm">Jenis Kelamin</label>
        <div class="flex items-center text-gray-800 mb-1">
          <input 
            bind:group={sex}
            type="radio"
            value="LAKI_LAKI"
            class="jo-radio appearance-none rounded-full border-2 border-gray-600 p-2 mr-2"
          />
          <label>Laki - Laki</label>
        </div>
        <div class="flex items-center text-gray-800">
          <input 
            bind:group={sex}
            type="radio"
            value="PEREMPUAN"
            class="jo-radio appearance-none rounded-full border-2 border-gray-600 p-2 mr-2" 
          />
          <label>Perempuan</label>
        </div>
        {#if errors.sex}
        <p class="text-red-700 font-semibold text-xs">
          {errors.sex}
        </p>
        {/if}
      </div>
      <div class="mb-6 flex flex-col text-sm">
        <label class="text-sm">Tahun Masuk</label>
        <JoSelect bind:value={tahunMasuk} options={tahunMasukOptions} />
        {#if errors.tahunMasuk}
        <p class="text-red-700 font-semibold text-xs">
          {errors.tahunMasuk}
        </p>
        {/if}
      </div>

      <div class="mb-6 flex flex-col text-sm">
        <label class="text-sm">Dosen PA</label>
        <JoSelect bind:value={idPa} options={dosenPaOptions} />
        {#if errors.idPa}
        <p class="text-red-700 font-semibold text-xs">
          {errors.idPa}
        </p>
        {/if}
      </div>

      <div>
        <JoButton 
          disabled={invalid}
          action={onSave} 
          dark={true} 
          color='blue' 
          label="simpan" />
      </div>
    </form>
  </div>
</div>
