<script>
  import ContentWrapper from '../commons/ContentWrapper.svelte';
  import Router from 'svelte-spa-router';
  import List from './list.svelte';
  import Update from './update.svelte';
  import Create from './create.svelte';
  import Logo from 'siskom/icons/calendar.svg';

  const prefix = '/admin/data/periode';
  const routes = {
    '/': List,
    '/create': Create,
    '/:id/update': Update,
  }
</script>

<ContentWrapper
  image={Logo}
  label="Periode"
  prefix={prefix}
  routes={routes}
>
</ContentWrapper>
