<script type="text/javascript">
  import { onMount } from 'svelte'
  import client from 'siskom/apollo-client.js';
  import MdDelete from 'svelte-icons/md/MdDelete.svelte'
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import JoLink from 'siskom/components/commons/JoLink.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import 'siskom/styles/jo-table.css';
  import ListPeriodesGQL from './all-periode.gql';
  import DeletePeriodeGQL from './delete-periode.gql';

  let items = [];
  let networkStatus = 'loading';

  function loadAllPeriode () {
    networkStatus = 'loading';
    return client.query({
      query: ListPeriodesGQL
    })
      .then(result => {
        items = result.data.allPeriodes.nodes;
        networkStatus = 'success';
      })
      .catch(err => {
        console.log(err);
        networkStatus = 'error';
      })
  }

  function onDelete (id) {
    return client.mutate({
      mutation: DeletePeriodeGQL,
      variables: { id }
    })
      .catch(err => {
        console.log(err);
        alert('Gagal menghapus data periode');
      })
      .then(() => queryResult.refetch());
  }

  onMount(loadAllPeriode);
</script>

<div class="text-sm text-gray-800 py-4">
  <JoLink
    to="/#/admin/data/periode/create"
  >
    tambah
  </JoLink>
</div>
<JoAsyncContent {networkStatus}>
  <table slot="success" class="jo-table">
    <thead>
      <tr>
        <th>Tahun</th>
        <th>Semester</th>
        <th>Awal</th>
        <th>Akhir</th>
        <th>Ketua</th>
        <th>Sekretaris</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {#each items as item (item.id)}
        <tr>
          <td>{item.tahun}</td>
          <td>{item.semester}</td>
          <td>{item.awal}</td>
          <td>{item.akhir}</td>
          <td>
            <a 
              href={`/#/admin/data/dosen/${item.ketua.id}/update`} 
              class="underline"
            >
              {item.ketua.nama}
            </a>
          </td>
          <td>
            <a 
              href={`/#/admin/data/dosen/${item.sekretaris.id}/update`} 
              class="underline"
            >
              {item.sekretaris.nama}
            </a>
          </td>
          <td class="text-right">
            <JoButton
              action={() => onDelete(item.id)}
            >
              <div class="h-4 w-4 text-red-700">
                <MdDelete />
              </div>
            </JoButton>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</JoAsyncContent>
