<script type="text/javascript">
  import { createEventDispatcher } from 'svelte';
  import client from 'siskom/apollo-client.js';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import JoDialog from 'siskom/components/commons/JoDialog.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import CreateGQL from './CreatePrasyarat.gql';
  import FindGQL from './prasyarat-find-mk.gql';

  const dispatch = createEventDispatcher();

  export let idParent;
  let networkStatus = 'loading';
  let keyword = '';
  let items = [];

  function findMkByKeyword (keyword) {
    const variables = {
      keyword: keyword + '%',
      idParent
    }
    networkStatus = 'loading';
    return client.query({
      query: FindGQL,
      variables
    })
      .then(result => {
        items = result.data.allMataKuliahs.nodes;
        console.log(items);
        networkStatus = 'success';
      })
      .catch(err => {
        console.log(err);
        networkStatus = 'error';
      })
  }

  function onChoose (id) {
    networkStatus = 'loading';
    return client.mutate({
      mutation: CreateGQL,
      variables: {
        payload: {
          idParent,
          idChild: id
        }
      }
    })
      .then(result => {
        console.log(result);
        networkStatus = 'success';
        dispatch('done');
      })
      .catch(err => {
        networkStatus = 'error';
        console.log(err);
        alert('Gagal menambah data prasyarat');
      });
  }

  $: findMkByKeyword(keyword);
</script>

<JoInput
  bind:value={keyword}
  placeholder="cari mata kuliah..."
/>
<JoAsyncContent
  {networkStatus}
>
  <ul slot="success" class="items-list">
    {#each items as mk (mk.id)}
      <li class="border-b border-gray-300 p-2 flex items-center justify-between">
        <div class="lowercase">
          <div class="text-sm font-medium">{mk.nama}</div>
          <div class="text-xs">{mk.kode}</div>
        </div>
        <JoButton
          cls="text-xs"
          action={() => onChoose(mk.id)}
          label="pilih"
        />
      </li>
    {/each}
  </ul>
</JoAsyncContent>
