<script>
  import ContentWrapper from '../commons/ContentWrapper.svelte';
  import List from './list.svelte';
  import Update from './update.svelte';
  import Create from './create.svelte';
  import Prasyarat from './prasyarat.svelte';
  import Logo from 'siskom/icons/book.svg';

  const prefix = '/admin/data/mk';
  const routes = {
    '/': List,
    '/create': Create,
    '/:id/update': Update,
    '/:id/prasyarat': Prasyarat
  }
</script>

<ContentWrapper
  image={Logo}
  label="Mata Kuliah"
  prefix={prefix}
  routes={routes}
>
</ContentWrapper>
