<script type="text/javascript">
  import { onMount } from 'svelte';
  import client from 'siskom/apollo-client.js';
  import { push as pushRoute } from 'svelte-spa-router';
  import QueryGQL from './ByIdWithPrasyarat.gql';
  import RemoveGQL from './RemovePrasyarat.gql';
  import CreatePrasyarat from './create-prasyarat.svelte';
  import JoLink from 'siskom/components/commons/JoLink.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import JoDialog from 'siskom/components/commons/JoDialog.svelte';

  import 'siskom/styles/jo-table.css';

  export let params = {};

  $: id = params.id ? parseInt(params.id) : null;
  let mataKuliah = {
    nama: '-'
  };
  let deps = [];
  let showAddForm = false;

  function fetch ({ id }) {
    return client.query({
      query: QueryGQL,
      variables: {
        id
      },
      fetchPolicy: 'network-only'
    })
      .then(result => {
        mataKuliah = result.data.mataKuliahById;
        deps = result.data.deps.edges;
      })
      .catch(err => {
        console.log(err);
        alert('gagal mengambil data');
        pushRoute('/admin/mk');
      });
  }

  function handleRemove ({ idChild }) {
    const id = parseInt(params.id);
    client.mutate({
      mutation: RemoveGQL,
      variables: {
        idParent: id,
        idChild
      }
    })
      .then(result => {
        console.log(result);
      })
      .catch(err => {
        console.log(err);
        alert("gagal menghapus data");
      })
      // Refetch data
      .then(() => fetch({ id }));
  }

  onMount(() => {
    console.log('here');
    fetch({ id })
  });
</script>

<div>
  <div class="flex justify-between items-center font-bold text-left py-4 border-b border-gray-300 ">
    <div>Prasyarat Mata Kuliah {mataKuliah.nama}</div>
    <div>
      <JoButton 
        dark={true}
        color="blue"
        action={() => {
          showAddForm = !showAddForm;
        }}
        label="tambah"
      />
    </div>
  </div>

  <div class="mt-6 mx-auto">
    <table class="jo-table">
      <thead>
        <tr>
          <th>Kode</th>
          <th>Nama</th>
          <th>Tipe</th>
          <th>SKS</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {#each deps as edge (edge.cursor) }
          <tr>
            <td>{edge.node.child.kode}</td>
            <td>{edge.node.child.nama}</td>
            <td>{edge.node.child.tipeMk}</td>
            <td>{edge.node.child.sks}</td>
            <td>
              <button 
                on:click={handleRemove({ idChild: edge.node.child.id })}
                class="appearance-none px-3 py-1 bg-gray-300 font-semibold text-xs"
              >hapus</button>
            </td>
          </tr>
        {/each }
      </tbody>
    </table>
  </div>


  <JoDialog 
    bind:show={showAddForm}
    title="Tambah Prasyarat Mata Kuliah"
  >
    <CreatePrasyarat 
      idParent={parseInt(params.id)} 
      on:done={() => {
        showAddForm = !showAddForm
        fetch({ id })
      }}
    />
  </JoDialog>
  <!-- {#if showAddForm} -->
  <!-- {/if} -->
</div>
