<script>
  import { onMount } from 'svelte';
  import { load as loadStorage } from 'siskom/commons/storage.js';
  import DetailMahasiswa from 'siskom/components/commons/mahasiswa/detail.svelte';

  let id = null;
  onMount(() => {
    const user = loadStorage('siskom.user');
    id = user.targetId;
  });
</script>

<DetailMahasiswa {id} prefix="/app/me_mhs">
</DetailMahasiswa>