@import "./tailwind.pcss";

body {
  margin: 0 !important;
}

@font-face {
  font-family: Titillium;
  font-weight: 200;
  src: url(/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
  font-family: Titillium;
  font-weight: 300;
  src: url(/fonts/Titillium_Web/TitilliumWeb-Light.ttf);
}

@font-face {
  font-family: Titillium;
  font-weight: 400;
  src: url(/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: Titillium;
  font-weight: 600;
  src: url(/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
  font-family: Titillium;
  font-weight: 700;
  src: url(/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

#root {
  font-family: Titillium;
}

input[type="radio"].jo-radio {
  transition: background .2s,
      transform .2s;
}

input[type="radio"]:checked.jo-radio {
  background: #4299E1;
}

.jo-auto-complete .input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.jo-auto-complete .spinner {
  animation-name: spinner;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.jo-spinner .spinner {
  border-radius: 50%;
  animation-name: spinner;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
