<footer class="w-screen border-t border-gray-400 text-gray-800 bg-gray-100">
  <div class="flex items-center mx-auto h-12 px-4">
    <div class="font-semibold text-xs">Sistem Informasi Akademik Ilmu Komputer</div>
    <div class="flex-grow"></div>
  </div>
</footer>
