<script>
  import { onMount, setContext } from 'svelte';
  import updateSessionData from 'siskom/services/updateSessionData.js';
  import Settings from './Settings.svelte';
  import NavBar from './NavBar.svelte';
  import InfoBar from './InfoBar.svelte';
  import SubNav from './SubNav.svelte';
  import MainRoutes from './MainRoutes.svelte';
  import Footer from './Footer.svelte';

  onMount(async () => {
    await updateSessionData();
  });
</script>

<style type="text/css">
.wrapper {
  overflow-x: hidden;
}
</style>

<Settings>
  <div class="wrapper flex flex-col min-h-screen bg-white pt-12">
    <NavBar />
    <div class="h-full flex-grow pb-8">
      <MainRoutes />
    </div>
    <Footer />
  </div>
</Settings>
