<script>
  import { onMount, getContext } from 'svelte';
  import { periode, phase } from 'siskom/stores';
</script>

<div class="w-screen py-2 bg-white border-b border-gray-300 text-xs font-bold">
  <div class="flex items-center mx-4">
    <div>Sistem Informasi Akademik Ilmu Komputer</div>
    <div class="flex-grow"></div>
    <div>Periode 
      {$periode.tahun} / 
      {$periode.tahun + 1}, 
      semester {$periode.semester}</div>
    <div class="ml-2 text-white bg-teal-600 font-bold px-2">
      phase: {$phase.toLowerCase()}
    </div>
  </div>
</div>