<script>
  import Router from 'svelte-spa-router';
  import DataRoutes from './DataRoutes.svelte';
  import Setting from './settings/index.svelte';
  import User from './users/index.svelte';
  import Logout from 'siskom/components/commons/logout.svelte';

  const prefix = '/admin';
  const routes = {
    '/data': DataRoutes,
    '/data/*': DataRoutes,
    '/settings': Setting,
    '/users': User,
    '/users/*': User,
    '/logout': Logout
  };
</script>

<Router {prefix} {routes} />
