<script>
  import ContentWrapper from '../commons/ContentWrapper.svelte';
  import ListDosen from './list.svelte';
  import UpdateDosen from './update.svelte';
  import CreateDosen from './create.svelte';
  import TrainingSVG from 'siskom/icons/training.svg';

  const prefix = '/admin/data/dosen';
  const routes = {
    '/': ListDosen,
    '/create': CreateDosen,
    '/:id/update': UpdateDosen,
  }
</script>

<ContentWrapper
  image={TrainingSVG}
  label="Dosen"
  prefix={prefix}
  routes={routes}
>
</ContentWrapper>
