<script>
  import { onMount } from 'svelte'
  import { load as loadStorage } from 'siskom/commons/storage'
  import { CLASHES } from './commons'

  let clashes = []

  onMount(() => {
    clashes = loadStorage(CLASHES)
  })
</script>

<div class="w-2/3 mx-auto">
  <div class="flex items-center bg-gray-300 p-4 my-4">
    <div class="w-16 h-16 text-gray-600 mr-2">
      <MdWarning />
    </div>
    <div class="flex-grow">
      <div class="text-xl font-bold text-red-700">Terjadi Kesalahan</div>
      <div class="font-semibold text-gray-700">Tidak bisa menambahkan data karena akan terjadi tabrakan.</div>
    </div>
    <button 
      class="appearance-none px-3 py-1 bg-blue-600 text-white font-bold mr-2 text-lg"
      on:click={() => {
        clashes = []
      }}
    >
      Ulangi
    </button>
  </div>
  <table class="w-full border border-gray-300">
    <thead class="bg-gray-300 text-gray-700 font-medium text-sm text-left">
        <tr>
          <th class="py-2 px-2">Mata Kuliah</th>
          <th class="py-2 px-2">Label</th>
          <th class="py-2 px-2">Dosen</th>
          <th class="py-2 px-2">Waktu</th>
          <th class="py-2 px-2">Ruangan</th>
          <th class="py-2 px-2">Peserta</th>
          <th></th>
        </tr>
        {#each clashes as item (item.id)}
          <tr class="border-b border-gray-300 bg-white hover:bg-gray-100 text-sm">
            <td class="py-2 px-2 text-left text-sm">
              <div class="font-semibold">{item.mkNama}</div>
              <div class="font-medium text-gray-900 text-xs">
                {item.tipeMk}, {item.mkKode}
              </div>
            </td>
            <td class="py-2 px-2 text-left text-sm">{item.label}</td>
            <td class="py-2 px-2 text-left text-sm">{item.dosenNama}</td>
            <td class="py-2 px-2 text-left text-sm">{item.hariKul}, {item.waktuKul}</td>
            <td class="py-2 px-2 text-left text-sm">{item.ruangan}</td>
            <td class="py-2 px-2 text-left text-sm">{item.kapasitas}</td>
            <td class="py-2 px-2 text-right text-sm">
              <button 
                class="appearance-none px-3 py-1 bg-gray-200 mr-2">
                jadwal
              </button>
            </td>
          </tr>
        {/each}
      </thead>
  </table>
</div>