<script type="text/javascript">
  import { onMount } from 'svelte';
  import client from 'siskom/apollo-client.js';
  import { pop as pop_route, push as pushRoute } from 'svelte-spa-router';
  import isEmpty from 'validator/es/lib/isEmpty';
  import trim from 'validator/es/lib/trim';
  import MdWarning from 'svelte-icons/md/MdWarning.svelte'
  import allIsNull from 'siskom/commons/allIsNull';
  import isEmptyRef from 'siskom/commons/isEmptyRef';
  import checkKapasitas from 'siskom/commons/checkKapasitas';
  import { 
    load as loadStorage, 
    set as setStorage 
  } from 'siskom/commons/storage';
  import JoAutoComplete from 'siskom/components/commons/JoAutoComplete.svelte';
  import notification from 'siskom/stores/notification';
  import ScheduledRequiredDataGQL from 'siskom/graphql/scheduled-required-data.gql'
  import CheckClashCoursesGQL from 'siskom/graphql/check-clash-courses.gql'
  import CreateScheduledGQL from 'siskom/graphql/create-scheduled.gql'
  import filterDosen from 'siskom/commons/filterDosen';
  import { ClashError, CLASHES, FORM } from '../commons';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import JoNumber from 'siskom/components/commons/JoNumber.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoButton from 'siskom/components/commons/JoButton.svelte';


  let dosenId = null;
  let ruangan = '';
  let hariKul = 1;
  let waktuKul;
  let totalMenit;
  let kapasitas = 40;
  let keywordDosen = '';
  let clashes = [];
  let allHariKuliahs = [
    { value: 1, label: 'senin' },
    { value: 2, label: 'selasa' },
    { value: 3, label: 'rabu' },
    { value: 4, label: 'kamis' },
    { value: 5, label: 'jumat' },
    { value: 6, label: 'sabtu' }
  ];
  let allDosens = []
  let allRooms = []

  $: room = allRooms && allRooms.length > 0 
    ? allRooms.find(it => it.value == ruangan) 
    : null;
  $: errors = {
    dosenId: !dosenId ? 'Dosen tidak boleh kosong' : null,
    ruangan: isEmpty(ruangan) ? 'Ruangan tidak boleh kosong' : null,
    hariKul: !hariKul ? 'Hari tidak valid' : null,
    waktuKul: !waktuKul ? 'Waktu tidak valid' : null,
    totalMenit: !totalMenit ? 'Total menit tidak valid' : null
  };
  $: warnings = {
    kapasitas: checkKapasitas({ kapasitas, room })
  };
  $: invalid = !allIsNull(errors);
  $: filtered_dosen = filterDosen({ keywordDosen, allDosens });

  async function loadData () {
    try {
      const result = await client.query({ query: ScheduledRequiredDataGQL })
      allDosens = result.data.allDosens.nodes
      allRooms = result.data.allRooms.nodes.map(it => ({
        label: it.nama,
        value: it.nama
      }))

      const prev_data = loadStorage(FORM)
      if (!prev_data) return;
      // remember exoteric naming
      if (prev_data._dosenId) dosenId = prev_data._dosenId;
      if (prev_data._ruangan) ruangan = prev_data._ruangan;
      if (prev_data._hariKul) hariKul = prev_data._hariKul;
      if (prev_data._waktuKul) waktuKul = prev_data._waktuKul;
      if (prev_data._kapasitas) kapasitas = prev_data._kapasitas;
      if (prev_data._totalMenit) totalMenit = prev_data._totalMenit;
    } catch (err) {
      console.log(err)
      alert('terjadi kesalahan')
    }
  }

  async function onSave () {
    const prev_data = loadStorage(FORM)
    // // Mapping to esoteric naming
    const payload = {
      _mkId: prev_data.mkId,
      _periodeId: prev_data.periodeId,
      _label: prev_data.label,
      _dosenId: dosenId,
      _ruangan: ruangan,
      _hariKul: hariKul,
      _waktuKul: waktuKul,
      _totalMenit: totalMenit,
      _kapasitas: kapasitas
    }
    // Save form data for later use
    setStorage(FORM, {
      ...prev_data,
      ...payload
    })
    try {
      const clashesResult = await client.query({
        query: CheckClashCoursesGQL,
        variables: {
          periodeId: prev_data.periodeId,
          dosenId,
          ruangan,
          waktuKul,
          hariKul,
          totalMenit
        }
      })
      if (!clashesResult) throw new Error('fail to check clash');
      let clashes = clashesResult.data.listClashCourses.nodes;
      if (clashes.length > 0) {
        throw new ClashError(clashes)
      }
      await client.mutate({
        mutation: CreateScheduledGQL,
        variables: {
          payload
        }
      })
      notification.show({ type: 'info', message: 'sukses menambah data kelas' })
      pushRoute('/admin/data/kelas')
    } catch (err) {
      console.log(err)
      if (err.name == 'ClashError') {
        setStorage(CLASHES, err.clashes)
        notification.show({ type: 'danger', message: 'kelas bertabrakan' })
        pushRoute('/admin/kelas/error-clashes')
      } else {
        notification.show({ type: 'danger', message: 'gagal menambah data kelas' })
      }
    }
  }

  onMount(loadData);
</script>

<div class="w-1/3 mx-auto border border-gray-400 p-4">
  <form>
    <div class="mb-6 flex flex-col">
      <label class="text-sm">Dosen</label>
      <JoAutoComplete
        placeholder="Cari Dosen..."
        onSearch={async key => {
          keywordDosen = key;
        }}
        items={filtered_dosen}
        bind:value={dosenId}
        let:item={item}
        let:selected={selected}
      >
        <div slot="selected">
          {selected.nama} - {selected.nip}
        </div>
        <div slot="item">
          <div class="text-sm font-medium">{item.nama}</div>
          <div class="text-xs">{item.nip}</div>
        </div>
      </JoAutoComplete>
      {#if errors.dosenId}
        <div class="text-red-600 text-sm font-semibold">{errors.dosenId}</div>
      {/if}
    </div>

    <div class="mb-6 flex flex-col">
      <label class="text-sm">Ruangan</label>
      <JoSelect bind:value={ruangan} options={allRooms} />
      {#if errors.ruangan}
        <div class="text-red-600 text-sm font-semibold">{errors.ruangan}</div>
      {/if}
    </div>

    <div class="mb-6 flex flex-col">
      <label class="text-sm">Hari</label>
      <JoSelect options={allHariKuliahs} bind:value={hariKul} />
      {#if errors.hariKul}
        <div class="text-red-600 text-sm font-semibold">{errors.hariKul}</div>
      {/if}
    </div>
    <div class="mb-6 flex flex-col">
      <label class="text-sm">Waktu</label>
      <input 
        bind:value={waktuKul}
        type="time"
        class="rounded bg-gray-200 p-2 text-sm focus:bg-white focus:outline-none focus:shadow-outline" 
        placeholder="Waktu" />
      {#if errors.waktuKul}
        <div class="text-red-600 text-sm font-semibold">{errors.waktuKul}</div>
      {/if}
    </div>
    <div class="mb-6 flex flex-col">
      <label class="text-sm">Total Menit</label>
      <JoNumber 
        bind:value={totalMenit}
        min={0}
        placeholder="Total Menit" 
      />
    </div>
    <div class="mb-6 flex flex-col">
      <label class="text-sm">Maximum Peserta Perkuliahan</label>
      <JoNumber
        bind:value={kapasitas}
        min="0"
        placeholder="Kapasitas" />
      {#if warnings.kapasitas}
        <div class="text-yellow-700 text-sm font-semibold">{warnings.kapasitas}</div>
      {/if}
    </div>
    <div>
      <JoButton
        dark={true}
        color="blue"
        action={onSave}
        disabled={invalid}
      >
        simpan
      </JoButton>
      <JoButton
        action={() => { pop_route(); }}
      >
        kembali
      </JoButton>
    </div>
  </form>
</div>
