<script>
  import { getContext } from 'svelte';
  import apolloClient from 'siskom/apollo-client.js';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import formatNilai from 'siskom/commons/formatNilai.js';
  import avatar_url from 'siskom/commons/avatar.js';
  import GQL_kelas_members from 'siskom/graphql/kelas-members.gql';
  import * as context_key from './context.js';

  export let params = {};
  const idKelas = getContext(context_key.id);

  let members = [];
  let networkStatus = 'loading';

  $: loadMembers({ idKelas });

  async function loadMembers ({ idKelas }) {
    if (!idKelas) return;
    networkStatus = 'loading';
    try {
      const result = await apolloClient.query({
        query: GQL_kelas_members,
        variables: {
          idKelas
        }
      });
      members = result.data.kelasMembers.nodes.map(it => {
        return {
          ...it,
          avatar: avatar_url(it.id, 32)
        }
      });
      networkStatus = 'success';
    } catch (err) {
      console.log(err);
      networkStatus = 'error';
    }
  }
</script>

<JoAsyncContent {networkStatus}>
  <div slot="success">
    <ul>
      {#each members as member (member.id)}
        <li class="px-4 py-2 border-b border-gray-300 flex items-center">
          <div style="max-width: 2.8rem; min-width: 2.8rem; width: 2.8rem;">
            <img src={member.avatar} />
          </div>
          <div class="ml-2">
            <a 
              class="font-bold underline" 
              href={`/#/app/ilkom/mahasiswas/${member.id}/info`}
              >{member.nama}</a>
            <div class="text-sm">{member.sex.toLowerCase()}, {member.nim}</div>
          </div>
        </li>
      {/each}
    </ul>
  </div>
</JoAsyncContent>
