<script>
  import { onMount, setContext } from 'svelte';
  import { gql } from '@apollo/client/core';
  import { load as loadStorage } from 'siskom/commons/storage.js';
  import Router from 'svelte-spa-router';
  import JoNotification from 'siskom/components/commons/JoNotification.svelte';
  import JoWarn from 'siskom/components/commons/JoWarn.svelte';
  import updateSessionData from 'siskom/services/updateSessionData.js';

  import Login from './auth/Login.svelte';
  import Admin from './admin/index.svelte';
  import UserApp from './app/index.svelte';

  const routes = {
    '/': Login,
    '/admin': Admin,
    '/admin/*': Admin,
    '/app': UserApp,
    '/app/*': UserApp
  };

  onMount(async function () {
    const _user = loadStorage('siskom.user');
    if (!_user) {
      return;
    }
    await updateSessionData();
  });
</script>

<style type="text/css">
body {
  margin: 0 !important;
  overflow-x: hidden !important;
}
</style>

<JoWarn></JoWarn>
<JoNotification></JoNotification>
<Router {routes}></Router>
