<div class="flex flex-col">
  <div class="my-8 mx-auto">
    <input type="text" class="text-sm appearance-none bg-white px-2 py-1 border-2 border-gray-300 rounded leading-tight focus:outline-none focus:shadow-outline shadow" />
  </div>
</div>