<script>
  import avatar_url from 'siskom/commons/avatar.js';

  export let mahasiswa;

  $: avatar = mahasiswa ? avatar_url(mahasiswa.nim, 64) : null;
</script>

<div class="bg-indigo-800 text-white py-4 flex flex-col items-center justify-center">
  <img src={avatar} class="my-3 rounded-full" />
  <div class="font-semibold text-2xl">{mahasiswa.nama}</div>
  <div class="font-semibold text-sm">
    {mahasiswa.nim}, 
    {mahasiswa.sex.toLowerCase()}
  </div>
</div>