<script>
  import { getContext } from 'svelte';
  import apollo_client from 'siskom/apollo-client.js';
  import GQL_detail_mahasiswsa from 'siskom/graphql/detail-mahasiswa.gql';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import * as context_key from './context.js';

  const mahasiswa = getContext(context_key.mahasiswa);
  const attendedPeriode = getContext(context_key.attendedPeriode);
  const prefix = getContext(context_key.prefix);

  $: networkStatus = $mahasiswa.id ? 'success' : 'loading';
</script>

<JoAsyncContent {networkStatus}>
  <div slot="success">

    <div class="bg-gray-200 py-4 px-4 border-gray-300">
      <div class="text-center text-lg font-bold">Informasi Umum</div>
    </div>

    <div class="px-4 my-6">
      <div class="flex items-center justify-between py-3 border-b border-gray-300">
        <span>Nama</span>
        <span>{$mahasiswa.nama}</span>
      </div>
      <div class="flex items-center justify-between py-3 border-b border-gray-300">
        <span>NIM</span>
        <span>{$mahasiswa.nim}</span>
      </div>
      <div class="flex items-center justify-between py-3 border-b border-gray-300">
        <span>Jenis Kelamin</span>
        <span>{$mahasiswa.sex}</span>
      </div>
      <div class="flex items-center justify-between py-3 border-b border-gray-300">
        <span>Tahun Masuk</span>
        <span>{$mahasiswa.tahunMasuk}</span>
      </div>
      <div class="flex items-center justify-between py-3 border-b border-gray-300">
        <span>Semester</span>
        <span>{$attendedPeriode.length}</span>
      </div>
      <div class="flex items-center justify-between py-3 border-b border-gray-300">
        <span>Dosen Pa</span>
        <span>{$mahasiswa.pa.nama}</span>
      </div>
    </div>

    <div class="bg-gray-200 py-4 px-4 border-gray-300">
      <div class="text-center text-lg font-bold">Link</div>
    </div>

    <ul class="px-4 my-6">
      <li>
        <a 
          href={`/#${prefix}/schedule`}
          class="py-2 px-2 mb-2 flex items-center rounded bg-gray-200 shadow"
        >
          <div 
            class="w-1/5 h-12 bg-blue-800 text-white font-bold text-lg flex items-center justify-center mr-4"
          >
            JD
          </div>
          <p class="w-4/5">Menampilkan jadwal perkuliahan untuk mahasiswa <span>{$mahasiswa.nama}</span></p>
        </a>
      </li>
      <li>
        <a 
          href={`/#${prefix}/transkrip`}
          class="py-2 px-2 mb-2 flex items-center rounded bg-gray-200 shadow"
        >
          <div 
            class="w-1/5 h-12 bg-teal-800 text-white font-bold text-lg flex items-center justify-center mr-4"
          >
            TR
          </div>
          <p class="w-4/5">Menampilkan transkrip nilai untuk mahasiswa <span>{$mahasiswa.nama}</span></p>
        </a>
      </li>
      <li>
        <a 
          href={`/#${prefix}/krs`}
          class="py-2 px-2 mb-2 flex items-center rounded bg-gray-200 shadow"
        >
          <div 
            class="w-1/5 h-12 bg-pink-800 text-white font-bold text-lg flex items-center justify-center mr-4"
          >
            KRS
          </div>
          <p class="w-4/5">Menampilkan KRS untuk mahasiswa <span>{$mahasiswa.nama}</span></p>
        </a>
      </li>
      <li>
        <a 
          href={`/#${prefix}/khs`}
          class="py-2 px-2 mb-2 flex items-center rounded bg-gray-200 shadow"
        >
          <div 
            class="w-1/5 h-12 bg-green-800 text-white font-bold text-lg flex items-center justify-center mr-4"
          >
            KHS
          </div>
          <p class="w-4/5">Menampilkan KHS untuk mahasiswa <span>{$mahasiswa.nama}</span></p>
        </a>
      </li>
    </ul>
  </div>
</JoAsyncContent>
