<script>
  import { onMount, getContext } from 'svelte';
  import { push as pushRoute } from 'svelte-spa-router';
  import { gql } from '@apollo/client/core';
  import apolloClient from 'siskom/apollo-client.js';
  import mahasiswaPeriodeData from 'siskom/services/mahasiswa-periode-data.js';
  import { load as loadStorage } from 'siskom/commons/storage.js';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import JoLink from 'siskom/components/commons/JoLink.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import InfoTranskrip from 'siskom/components/commons/mahasiswa/info-transkrip.svelte';
  import GQL_khs from 'siskom/graphql/khs.gql';
  import * as context_key from './context.js';
  import { periode } from 'siskom/stores/index.js';

  const mahasiswa = getContext(context_key.mahasiswa);
  const attendedPeriode = getContext(context_key.attendedPeriode);

  $: idMahasiswa = $mahasiswa.id;
  $: optionsPeriode = $attendedPeriode.map((it, index) => {
    return {
      value: it.id,
      label: `semester ${index + 1}, ${it.tahun}/${it.tahun + 1}`
    }
  });
  let idPeriode = null;
  let items = [];
  let infoTranskrip = null;
  let networkStatus = 'loading';

  $: getKhs({ idMahasiswa, idPeriode });
  // initialize idPeriode;
  $: {
    if ($periode && $periode.id && !idPeriode) {
      idPeriode = $periode.id;
    }
  };

  async function getKhs ({ idMahasiswa, idPeriode }) {
    if (!idPeriode) return;
    if (!idMahasiswa) return;
    networkStatus = 'loading';
    try {
      const result = await apolloClient.query({
        query: GQL_khs,
        variables: {
          idMahasiswa,
          idPeriode
        }
      });
      items = result.data.kelasInPeriode.nodes;
      infoTranskrip = result.data.infoTranskripPeriode;
      networkStatus = 'success';
    } catch (err) {
      console.log(err);
      networkStatus = 'error';
    }
  }
</script>

<div class="bg-gray-200 py-4 px-4 border-gray-300">
  <div class="text-center text-lg font-bold">Kartu Hasil Studi</div>
  <JoSelect 
    options={optionsPeriode} 
    bind:value={idPeriode}
    emptyLabel="Pilih Semester"
  />
</div>
<JoAsyncContent {networkStatus}>
  <div slot="success">
    <JoButton cls="py-1 my-2 mx-4" label="print" dark color="green" />
    <div class="border-b border-gray-300 p-4 text-gray-800 text-sm">
      <div class="text-left font-bold text-gray-600 py-2">Rangkuman</div>
      <InfoTranskrip {...infoTranskrip} />
    </div>
    <ul>
      {#each items as item (item.id)}
        <li 
          class="py-3 px-4 border-b border-gray-300 w-full"
        >
          <div class="flex items-center text-sm">
            <div class="flex flex-col flex-grow">
              <div class="flex items-center">
                <JoLink cls="font-semibold mr-2 bg-gray-100 py-0 rounded-full" to={`/#/app/ilkom/mks/${item.kelas.mk.id}`}>{item.kelas.mk.nama}</JoLink>
                <JoLink cls="font-semibold bg-gray-100 py-0 rounded-full" to={`/#/app/ilkom/kelas/${item.kelas.mk.id}`}>kelas {item.kelas.label}</JoLink>
              </div>
              <div>
                {item.kelas.mk.sks} sks, {item.kelas.mk.tipeMk.toLowerCase()}
              </div>
            </div>
            <div 
              class="font-bold"
              class:text-red-800={item.lulus == 'tidak lulus'}
            >
              <span class="">
                A
              </span>
              <span>/ {item.nilai.toFixed(2)}</span>
            </div>
          </div>
        </li>
      {/each}
    </ul>
  </div>
</JoAsyncContent>
