<script>
  import { onMount } from 'svelte';
  import apolloClient from 'siskom/apollo-client.js';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
  import JoInput from 'siskom/components/commons/JoInput.svelte';
  import GQL_list_mahasiswa from 'siskom/graphql/list-mahasiswa.gql';
  import GQL_list_years from 'siskom/graphql/list-years.gql';
  import { periode } from 'siskom/stores/index.js';
  import avatar_url from 'siskom/commons/avatar.js';

  // states
  let networkStatus = 'loading';
  let items = [];
  let optionsTahunMasuk = [];
  let tahunMasuk = 2007;
  let keyword = '';
  let take = 10;
  let canNext = false;

  $: loadMahasiswa({ keyword, take, tahunMasuk });

  async function loadMahasiswa ({ keyword, tahunMasuk, take }) {
    if (!tahunMasuk) return;
    if (!take) return;
    networkStatus = 'loading';
    try {
      const result = await apolloClient.query({
        query: GQL_list_mahasiswa,
        variables: {
          keyword: `${keyword}%`,
          tahunMasuk,
          take
        }
      });
      const data = result.data;
      items = data.allMahasiswas.nodes.map(it => {
        return {
          ...it,
          avatar: avatar_url(it.nim, 24)
        }
      });
      canNext = data.allMahasiswas.pageInfo.hasNextPage;
      networkStatus = 'success';
    } catch (err) {
      networkStatus = 'error';
      console.log(err);
    }
  }

  async function loadPeriode () {
    networkStatus = 'loading';
    try {
      const result = await apolloClient.query({
        query: GQL_list_years
      });
      optionsTahunMasuk = result.data.allYears.nodes.map(y => ({
        value: y,
        label: y
      }));
      tahunMasuk = $periode.tahun;
    } catch (err) {
      networkStatus = 'error';
      console.log(err);
    }
  }

  onMount(loadPeriode);
</script>

<JoAsyncContent {networkStatus}>
  <div slot="success">

    <div class="px-6 py-6 border-b border-gray-300 bg-gray-200">
      <div class="text-base text-center font-semibold my-2">Daftar Mahasiswa</div>
      <JoSelect 
        label="tahun masuk" 
        emptyLabel="pilih tahun masuk" 
        bind:value={tahunMasuk} 
        options={optionsTahunMasuk} />
      <JoInput placeholder="keyword..." bind:value={keyword} />
    </div>

    <ul class="my-6">
      {#each items as item (item.id)}
        <li class="border-b border-gray-300 py-2 flex items-center px-6">
          <div style="max-width: 2.8rem; min-width: 2.8rem; width: 2.8rem;">
            <img src={item.avatar} />
          </div>
          <div class="ml-2">
            <a class="font-semibold underline" href={`/#/app/ilkom/mahasiswas/${item.id}/info`}>{item.nama}</a>
            <div ></div>
            <div class="text-sm">{item.sex.toLowerCase()}, {item.nim}</div>
            <div class="text-sm">{item.pa.nama}</div>
          </div>
        </li>
      {/each}
    </ul>

  </div>
</JoAsyncContent>