<script>
  import { fade, slide } from 'svelte/transition';
  import Logo from 'siskom/components/commons/Logo.svelte'
  import MdMoreHoriz from 'svelte-icons/md/MdMoreHoriz.svelte'

  export let menus = [];
  export let avatar;
  export let title;
  export let subtitle;

  let showMenu = false;
</script>

<style>
  .mobile-menu {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 2.5rem;
  }
</style>

<div class="flex items-center px-4 border-b border-gray-300">
  <div class="logo mr-2">
    <Logo />
  </div>
  <div class="flex-grow"></div>
  <div class="flex items-center justify-end font-semibold text-sm">
    <button 
      class="p-2 h-10 w-10 font-semibold"
      on:click={() => {
        showMenu = !showMenu
      }}
    >
      <MdMoreHoriz />
    </button>
  </div>
</div>
{#if showMenu}
  <div class="mobile-menu bg-white shadow-xl" transition:slide>
    <ul class="w-full">
      <li class="hover:bg-gray-200">
        <slot name="profile-section"></slot>
      </li>
      {#each menus as menu (menu.label)}
        {#if (menu.header)}
          <li>
            <div class="flex items-center w-full h-full py-2 px-4 font-semibold">
              {menu.label}
            </div>
          </li>
        {:else}
          <li class="border-b border-gray-300 hover:bg-gray-200">
            <a href={menu.path} class="flex items-center w-full h-full py-2 px-4 text-sm">
              {menu.label}
            </a>
          </li>
        {/if}
      {/each}
    </ul>
  </div>
{/if}
<div class="notification">
</div>
<div class="h-screen flex flex-col w-screen">
  <div class="flex-grow">
    <slot name="content"></slot>
  </div>
  <footer class="w-screen px-4 py-6 bg-gray-200 border-t border-gray-300 flex flex-col items-center justify-center text-gray-700 text-center">
    <div class="font-semibold text-xs">Sistem Informasi Akademik Ilmu Komputer Nusa Cendana</div>
    <div class="text-xs">
      Periode 2007/2008, Semester 1
    </div>
  </footer>
</div>
