<script>
  import { onMount } from 'svelte';
  import apolloClient from 'siskom/apollo-client.js';
  import { gql } from '@apollo/client/core';
  import JoButton from 'siskom/components/commons/JoButton.svelte';
  import JoSelect from 'siskom/components/commons/JoSelect.svelte';
  import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';

  let networkStatus = 'ready';
  let periodes = [];
  const phases = [
    { value: 'REGISTRATION', label: 'Registrasi Mahasiswa' },
    { value: 'SCHEDULING', label: 'Penjadwalan Kelas' },
    { value: 'CLASS_PICK', label: 'Entry Kelas' },
    { value: 'KMB', label: 'Kegiatan Belajar Mengajar' },
    { value: 'GRADING', label: 'Penilaian' },
    { value: 'REVISE', label: 'Revisi Nilai' }
  ];
  let id_active_periode = null;
  let current_phase = null;

  const AllPeriodesGQL = gql`
    query MyQuery {
      allPeriodes {
        nodes {
          akhir
          awal
          id
          semester
          tahun
          nodeId
        }
      }
    }
  `;

  const CurrentSettingGQL = gql`
    query MyQuery {
      currentSetting {
        phase
        currentPeriode {
          id
          awal
          akhir
          tahun
          semester
        }
      }
    }
  `;

  const SaveSettingGQL = gql`
    mutation SaveSetting(
      $phase: PhaseType!
      $idPeriode: Int!
    ) {
      phase: changeCurrentPhase(input: { phase: $phase }) {
        phaseType
      }
      periode: changeCurrentPeriode(input: { idPeriode: $idPeriode }) {
        integer
      }
    }
  `;

  async function onSave () {

  }

  async function getPeriodes () {
    const result = await apolloClient.query({
      query: AllPeriodesGQL
    });
    return result.data.allPeriodes.nodes;
  }

  onMount(async() => {
    try {
      const allPeriodes = await getPeriodes();
      periodes = allPeriodes.map(p => ({
        value: p.id,
        label: `${p.tahun}/${p.tahun + 1}, semester ${p.semester}`
      }));
      const currentSettingResult = await apolloClient.query({
        query: CurrentSettingGQL
      });
      const currentSetting = currentSettingResult.data.currentSetting;
      id_active_periode = currentSetting.currentPeriode.id;
      current_phase = currentSetting.phase;
    } catch (err) {
      console.log(err);
    }
  });
</script>

<div class="h-full">
  <div class="border-b border-gray-300 bg-white">
    <div class="flex items-center py-4 mx-6">
      <span class="font-bold text-lg">pengaturan</span>
    </div>
  </div>
</div>
<JoAsyncContent {networkStatus}>
  <div slot="ready" class="w-2/5 mx-auto my-16 rounded border border-gray-300 p-4">
    <div class="mb-4">
      <label>Periode Aktif</label>
      <JoSelect 
        options={periodes} 
        bind:value={id_active_periode} 
        on:change={val => {
          console.log(val);
        }}
      />
    </div>
    <div class="mb-4">
      <label>Fase</label>
      <JoSelect options={phases} bind:value={current_phase} />
    </div>
    <JoButton label="simpan" dark color="blue" cls="p-3 text-lg" />
  </div>
</JoAsyncContent>
