<script>
import { onMount } from 'svelte';
import { push as pushRoute } from 'svelte-spa-router';
import { gql } from '@apollo/client/core';
import client from 'siskom/apollo-client.js';
import { 
  set as setStorage, 
  load as loadStorage,
  remove as removeStorage
} from 'siskom/commons/storage.js';
import isEmpty from 'validator/es/lib/isEmpty';
import trim from 'validator/es/lib/trim';
import allIsNull from 'siskom/commons/allIsNull';
import JoAsyncContent from 'siskom/components/commons/JoAsyncContent.svelte';
import JoInput from 'siskom/components/commons/JoInput.svelte';
import JoButton from 'siskom/components/commons/JoButton.svelte';
import 'siskom/styles/auth.css';

let username = '';
let password = '';
let networkStatus = 'loading';
$: errors = {
  username: isEmpty(username) ? 'Username tidak boleh kosong' : null,
  password: isEmpty(password) ? 'Password tidak boleh kosong' : null
};
$: invalid = !allIsNull(errors);

const LoginGQL = gql`
  mutation Login(
    $username: String!
    $password: String!
  ) {
    login (input: {
      _username: $username
      _password: $password
    }) {
      token: appUserJwt
    }
  }
`

const CurrentUserGQL = gql`
  query CurrentUser {
    currentAppUser {
      id
      targetId
      username
      username
      tipeUser
      scopes
    }
  }
`;

function redirect (tipeUser) {
  switch (tipeUser) {
    case 'MAHASISWA':
      pushRoute('/app/me_mhs');
      break;
    case 'DOSEN':
      pushRoute('/app/me_dosen');
      break;
    case 'ADMIN':
      pushRoute('/admin');
      break;
    default:
      alert('terjadi kesalahan');
  }
}

function getCurrentUser () {
  return client.query({
    query: CurrentUserGQL,
    fetchPolicy: 'network-only'
  })
    .then(resp => {
      setStorage('siskom.user', resp.data.currentAppUser)
      return resp.data.currentAppUser
    })
}

function login () {
  const variables = {
    username,
    password
  }
  networkStatus = 'loading'
  const result = client.mutate({
    mutation: LoginGQL,
    variables
  })
  return result
    .then(result => {
      if (!result.data.login) {
        networkStatus = 'error';
        return;
      }
      console.log(result.data)
      setStorage('siskom.token', result.data.login.token, true)
    })
    .catch(err => {
      console.log('in login()');
      console.log(err);
      throw err;
    })
}

function cleanUpStorage (err) {
  networkStatus = 'error';
  console.log(err);
  removeStorage('siskom.token')
  removeStorage('siskom.user')
  console.log('in cleanUpStorage()')
}

function onLogin () {
  return login()
    .then(() => getCurrentUser())
    .then(user => {
      redirect(user.tipeUser)
    })
    .catch(cleanUpStorage)
}

onMount(() => {
  setTimeout(() => {
    const user = loadStorage('siskom.user');
    if (user) {
      console.log(user);
      const { tipeUser } = user;
      redirect(tipeUser);
      return;
    }
    networkStatus = 'ready';
  }, 1500);
});
</script>


<div class="h-screen">
  <JoAsyncContent {networkStatus}>
    <div slot="ready" class="flex items-stretch h-screen">
      <div class="hidden md:block w-1/3 bg-blue-600">
      </div>
      <div class="w-full bg-gray-200 md:w-2/3 flex flex-col items-center justify-center">
        <div class="text-blue-800 font-semibold text-xl text-center mb-8 px-12">
          Sistem Informasi Akademik Ilmu Komputer
        </div>
        <div class="w-4/5 bg-white md:w-3/5 p-4 border border-gray-200 rounded text-gray-700 shadow-lg">
          <div class="text-2xl font-semibold text-center mb-4">Login</div>
          <div class="mb-4 flex flex-col">
            <label class="mb-2">Username</label>
            <JoInput bind:value={username} placeholder="username" />
          </div>
          <div class="mb-4 flex flex-col">
            <label class="mb-2">Password</label>
            <input 
              bind:value={password}
              type="password" placeholder="password" class="border rounded border-gray-300 px-2" />
          </div>
          <div class="flex flex-col">
            <button 
              disabled={invalid}
              on:click={onLogin}
              class="appearance-none p-2 bg-blue-600 text-white font-medium disabled:opacity-50"
            >Masuk</button>
          </div>
        </div>
      </div>
    </div>
  </JoAsyncContent>
</div>
